*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
header {
    background-color: #3498db; /* Change this color as needed */
    color: white;
    padding: 20px;
    text-align: center;
}
h1{
    text-align: center;
    margin: 20px 0;
}
h2{
    text-align: center;
    margin: 10px 0;
}
h3{
    text-align: center;
    margin: 5px 0;
}
p{
    text-align: center;
    margin: 5px 0;
}